<% if @animal.errors.any? %>
 	<% @animal.errors.full_messages.each {|error|%>
	 	<p style="color: red">
	 		<%= error %>
	 	</p>
 	<% } %>
 <% end %>

<%= form_for [@zoo,@animal] do |f| %>
		<%= f.label "Name" %>
		<%= f.text_field :name, autofocus: true %><br/>
		<%= f.label "Age" %>
    <%= f.number_field :age%><br />
    <%= f.label "Species" %>
    <%= f.text_field :species%><br />
    <%= f.submit%>
<% end %>